[submodule "hcurand"]
	path = hcurand
	url = git@github.com:alexisVallet/hcurand.git
[submodule "hcudnn"]
	path = hcudnn
	url = git@github.com:alexisVallet/hcudnn.git
[submodule "doc"]
	path = doc
	url = git@github.com:alexisVallet/deep-banana.git
